.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 20%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.stretch {
    flex-grow: 1;
}